<html>
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" /> 

		<title>Anchorloans Test</title>
	</head>
	<body>
		<div class="container">
			<div class="page-header">
				<h1> Problem 1 - Divisibility </h1> 
				<leads> Print all integers ai such that ai is divisible by x and not divisible by y, where 1 < ai < n < 100000. </br> Input: First, you are given t (t < 100) - the number of test cases. In each of the following t lines, 3 integers: n x y. You might assume also that x < n and x is not divisible by y. </br> Output: In each of the following t lines, numbers requested in the problem description in the separated by a single space in ascending order. Print all integers ai such that ai is divisible by x and not divisible by y, where 1 < ai < n < 100000.
				</leads>
			</div>
			{% block body_ext %}{%endblock%}
		</div>
	</body>
</html>